name: Build and Push Docker Images

on:
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push FastAPI image
        uses: docker/build-push-action@v2
        with:
          context: ./app_fastapi
          push: true
          tags: ghcr.io/${{ github.repository }}/fastapi:latest
          platforms: linux/amd64,linux/arm64

      - name: Build and push Spring Boot image
        uses: docker/build-push-action@v2
        with:
          context: ./app_springboot
          push: true
          tags: ghcr.io/${{ github.repository }}/springboot:latest
          platforms: linux/amd64,linux/arm64

      - name: Build and push Express image
        uses: docker/build-push-action@v2
        with:
          context: ./app_express
          push: true
          tags: ghcr.io/${{ github.repository }}/express:latest
          platforms: linux/amd64,linux/arm64
